@import "../../../styles/global.scss";

.container {
  @include container;
}

.row {
  @include row;

  @media (min-width: 960px) {
    justify-content: space-between;
    max-width: 250px;
    margin: 0 auto;
  }
}

.sectionHotel {
  background-color: $primary-color;
  color: $secondary-color;
}

.card {
  background-color: $accent-color;
  color: $primary-color;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);
  padding: 1em 1.5em;
  margin: 0 auto;
  border-radius: 1em;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
}

.title {
  color: $primary-color;
  @media (max-width: 960px) {
    font-size: 1.6em;
  }
}
