@import '../../styles/global.scss';

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

Header {
  height: 100svh;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  max-width: 90%;
  color: $accent-color;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5em;
  line-height: 1.5;
  filter: drop-shadow(0 0 5px Black);

  @media (min-width: 960px) {
    max-width: 90%;
  }
}

.title {
  color: $background-color;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 0;
  filter: drop-shadow(0 0 5px Black);

  @media (min-width: 960px) {
    max-width: 90%;
    font-size: 4rem;
  }
}

.countdown {
  letter-spacing: 0.1em;
  color: $background-color;
  text-transform: uppercase;
  text-align: center;
  filter: drop-shadow(0 0 5px Black);

  h2 {
    font-family: $font-body;
    font-weight: 400;
  }

  .number{
    color: $accent-color;
    font-weight: 600;
  }
}

// TODO: work on vanishing the text when user scrolls down (not very important)
// and sticking to the bottom on desktop
.moreInfo {
  color: $accent-color;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  bottom: 5px;
  animation: bounce 2s infinite;
  cursor: pointer;

  p {
    margin: 0;
  }
}

.hiddenSection {
  position: absolute;
  height: 500px;
  width: 500px;
}
