@import '../../styles/global.scss';

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

Header {
  height: 100svh;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin-top: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: $background-color;
  filter: drop-shadow(0 0 5px Black);
}

.title {
  margin-top: 0;
  font-size: 3rem;
  text-transform: uppercase;
  color: $background-color;
  text-align: center;
  filter: drop-shadow(0 0 5px Black);
}

.countdown {
  letter-spacing: 0.1em;
  font-size: 1rem;
  color: $background-color;
  text-transform: uppercase;
  text-align: center;
  filter: drop-shadow(0 0 5px Black);

  h2, h3 {
    font-family: $font-body;
    font-weight: 400;
  }
}

.moreInfo {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
  color: $accent-color;
  text-transform: uppercase;
  text-align: center;
  animation: bounce 2s infinite;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}
