@import '../../styles/global.scss';

.navbar {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    position: sticky;
    background-color: $secondary-color;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
  }
}

.menuToggle {
  padding: 1em;
  position: fixed;
  margin: 0;
  z-index: 1000;

  @media (min-width: 800px) {
    display: none;
  }
}

.icon {
  width: 1.5em;
  height: 1.5em;
  color: $accent-color;
}

.iconWrapper {
  background-color: $secondary-color;
  padding: .5em;
  border-radius: 50%;
}

.links {
  position: fixed;
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in;
  margin: 0;
  font-size: 1.4rem;
  list-style: none;
  height: 100vh;
  max-width: 70%;
  background-color: $accent-color;
  padding: 3em 1em;
  z-index: 999;
  border-right: 5px solid $secondary-color;
  border-radius: 0 1em 1em 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
  }

  &.showMenu {
    transform: translateX(0);
  }

  @media (min-width: 800px) {
    position: relative;
    transition: none;
    transform: translateX(0);
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
    height: auto;
    font-size: 1rem;
    background-color: $secondary-color;

    .container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: auto;
      padding: 0;
    }

    a {
      color: $background-color;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      text-align: center;

      display: inline-block;
      padding: .9375rem 1.25rem;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: $accent-color;
      }

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $accent-color;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        color: $accent-color;
        width: 100%;
        left: 0;
      }
    }
  }
}
