@import "../../styles/global.scss";

.footer {
  padding: 1em 0;
  background-color: $primary-color;
  color: $accent-color;
  display: flex;
  justify-content: center;

  p {
    margin: 0;
  }

  a {
    color: $accent-color;
    transition: color 0.3s;

    &:hover {
      color: $background-color;
    }
  }
}
