@import "../../../styles/global.scss";

.container {
  @include container;
}
.row {
  @include row;

  & {
    @media (max-width: 960px) {
      flex-direction: column;
    }
  }
}
.col {
  @include column;

  & {
    align-items: center;
  }
}

.contact {
  background-color: $primary-color;
  color: $accent-color;
}

.title {
  text-align: center;

  margin-bottom: 2em;
}

.highlight {
  font-size: 1.6rem;
  font-weight: 600;
}

.text {
  font-size: 1.4rem;
  margin-bottom: 1rem;

  a {
    color: $accent-color;
    transition: color 0.3s;

    &:hover {
      color: $background-color;
    }
  }
}

